<htm>
    <head>
        <meta charset="UTF-8">
        <title>Add Food</title>
        <h1>Add Food</h1>
    </head>
    <body>
    {% extends "_layout.html" %}
    {% block body %}
    <form class="layui-form" method="post" action="{{url_for('food.add')}}">
        {{ form.hidden_tag() }}
        <div class="layui-inline">
            <label class="layui-form-label">Name</label>
            <div class="layui-input-block">
                <input class="layui-input" name="name" type="text" >
                {% if form.name.errors %}
                <ul>
                    {% for error in form.name.errors %}
                    <li class="layui-bg-red">{{error}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <br>
        <br>
        <div class="layui-inline">
            <label class="layui-form-label">Price</label>
            <div class="layui-input-block">
                <input class="layui-input" name="price" type="number" >
                {% if form.price.errors %}
                <ul>
                    {% for error in form.price.errors %}
                    <li class="layui-bg-red">{{error}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

        </div>
        <br>
        <br>
        <input name="restaurant" type="number" value="{{restaurant_id}}" hidden>
        <button type="submit" class="layui-btn layui-btn-normal layui-btn-radius" >Add</button>
    </form>
    {% endblock %}
    </body>
</htm>