<htm>
    <head>
        <meta charset="UTF-8">
        <title>Food Management</title>
        <h1>Food Management</h1>
    </head>
    <body>
    {% extends "_layout.html" %}
    {% block body %}
    <table class="layui-table">
        <thead class="layui-table-header">
        <col>
        <col width="100">
        <col width="200">
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Operation</td>
        </tr>
        </thead>
        {% for food in foods %}
        <tr>
            <td>{{ food.name }}</td>
            <td>{{ food.price }}</td>
            <td>
                <button class="layui-btn-danger layui-btn layui-btn-radius" onclick="on_delete({{food.id}});">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('food.add') }}?id={{restaurant_id}}"><button class="layui-btn-normal layui-btn layui-btn-radius">Add</button></a>

    <script>
        on_delete = function(food_id) {
            if(confirm("Confirm to delete this item?")){
                window.location="{{url_for('food.delete')}}" + "?id=" + food_id + "&res=" + {{restaurant_id}};
            }
        }
    </script>
    {% endblock %}

    </body>
</htm>