<html>
    <head>
        <meta charset="UTF-8">
        <title>User Login</title>
    </head>
    <body>
    {% extends "_layout.html" %}
    {% block body %}
    <form style="width: 100%; text-align: center; margin-top: 15%;" method="post" action="{{url_for('user.login')}}">
        {{ form.hidden_tag() }}
        <h1>User Login</h1>
<!--        <img src="/static/images/logo.jpg" style="width: 200px">-->
        <br>
        <br>
        <div class="layui-inline">
            <label class="layui-form-label">Nickname</label>
            <div class="layui-input-block">
                <input class="layui-input" value="{{form.nickname.data}}" name="nickname" type="text" >
                {% if form.nickname.errors %}
                <ul>
                    {% for error in form.nickname.errors %}
                    <li class="layui-bg-red">{{error}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <br>
        <br>
        <div class="layui-inline">
            <label class="layui-form-label">Password</label>
            <div class="layui-input-block">
                <input class="layui-input" value="{{form.nickname.data}}" name="password" type="password" >
                {% if form.password.errors %}
                <ul>
                    {% for error in form.password.errors %}
                    <li class="layui-bg-red">{{error}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <br>
        <br>
        <button class="layui-btn layui-btn-normal layui-btn-radius">Login</button>
        <br>
        <br>
        <a href="{{url_for('user.register')}}">New User Registration</a>
    </form>
    {% endblock %}
    </body>
</html>