<htm>
    <head>
        <meta charset="UTF-8">
        <title>User Register</title>
    </head>
    <body>
    {% extends "_layout.html" %}
    {% block body %}
        <form style="width: 100%; text-align: center; margin-top: 10%;" method="post" action="{{url_for('user.register')}}">
            {{ form.hidden_tag() }}
            <h1>User Register</h1>
            <br>
            <br>
            <div class="layui-inline">
                <label class="layui-form-label">Nickname</label>
                <div class="layui-input-block">
                    <input class="layui-input" value="{{form.nickname.data}}" name="nickname" type="text" >
                    {% if form.nickname.errors %}
                    <ul>
                        {% for error in form.nickname.errors %}
                        <li class="layui-bg-red">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <br>
            <br>
            <div class="layui-inline">
                <label class="layui-form-label">Name</label>
                <div class="layui-input-block">
                    <input class="layui-input" value="{{form.name.data}}" name="name" type="text" >
                    {% if form.name.errors %}
                    <ul>
                        {% for error in form.name.errors %}
                        <li class="layui-bg-red">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <br>
            <br>
            <div class="layui-inline">
                <label class="layui-form-label">Password</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="password1" type="password" >
                    {% if form.password1.errors %}
                    <ul>
                        {% for error in form.password1.errors %}
                        <li class="layui-bg-red">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <br>
            <br>
            <div class="layui-inline">
                <label class="layui-form-label">Confirm Password</label>
                <div class="layui-input-block">
                    <input class="layui-input" name="password2" type="password" >
                    {% if form.password2.errors %}
                    <ul>
                        {% for error in form.password2.errors %}
                        <li class="layui-bg-red">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <br>
            <br>
            <div class="layui-inline">
                <label class="layui-form-label">Phone</label>
                <div class="layui-input-block">
                    <input class="layui-input" value="{{form.phone.data}}" name="phone" type="number" >
                    {% if form.phone.errors %}
                    <ul>
                        {% for error in form.phone.errors %}
                        <li class="layui-bg-red">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <br>
            <br>
            <div class="layui-inline">
                <label class="layui-form-label">Address</label>
                <div class="layui-input-block">
                    <input class="layui-input" value="{{form.address.data}}" name="address" type="text" >
                    {% if form.address.errors %}
                    <ul>
                        {% for error in form.address.errors %}
                        <li class="layui-bg-red">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <br>
            <br>
            <div class="layui-inline">
                <label class="layui-form-label">Role</label>
                <div class="layui-input-block">
                    <select name="role" value="{{form.role.data}}" class="layui-select layui-input">
                        <option value="0">Merchant</option>
                        <option value="1">Customer</option>
                        <option value="2">Delivery staff</option>
                    </select>
                    {% if form.role.errors %}
                    <ul>
                        {% for error in form.role.errors %}
                        <li class="layui-bg-red">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <br>
            <br>
            <button type="submit" class="layui-btn layui-btn-radius layui-btn-normal">Register</button>
            <br/>
            <br/>
            <a href="{{url_for('user.login')}}">Existing account, login</a>
        </form>
    {% endblock %}
    </body>
</htm>