<htm>
    <head>
        <meta charset="UTF-8">
        <title>餐馆管理</title>
        <h1>餐馆管理</h1>
    </head>
    <body>
    {% extends "_message.html" %}
    {% block body %}
    <table>
        <thead>
        <tr>
            <td>名字</td>
            <td>地址</td>
            <td>操作</td>
        </tr>
        </thead>
    {% for restaurant in restaurants %}
        <tr>
            <td>{{ restaurant.name }}</td>
            <td>{{ restaurant.address }}</td>
            <td>
                <button onclick="on_delete({{restaurant.id}});">删除</button>
                <a href="{{url_for('food.manage')}}?id={{restaurant.id}}">
                    <button>菜单管理</button>
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
    <a href="{{ url_for('restaurant.add') }}"><button>添加</button></a>

    <script>
        on_delete = function(restaurant_id) {
            if(confirm("确认删除？")){
                window.location="{{url_for('restaurant.delete')}}" + "?id=" + restaurant_id;
            }
        }
    </script>
    {% endblock %}

    </body>
</htm>