<htm>
    <head>
        <meta charset="UTF-8">
        <title>Restaurant Management</title>
        <h1>Restaurant Management</h1>
    </head>
    <body>
    {% extends "_layout.html" %}
    {% block body %}
    <table class="layui-table">
        <thead class="layui-table-header">
        <col width="200">
        <col>
        <col width="300">
        <tr>
            <td>Name</td>
            <td>Address</td>
            <td>Operation</td>
        </tr>
        </thead>
    {% for restaurant in restaurants %}
        <tr>
            <td>{{ restaurant.name }}</td>
            <td>{{ restaurant.address }}</td>
            <td>
                <button class="layui-btn layui-btn-danger layui-btn-radius" onclick="on_delete({{restaurant.id}});">Delete</button>
                <a href="{{url_for('food.manage')}}?id={{restaurant.id}}">
                    <button class="layui-btn layui-btn-radius layui-btn-normal">Food Management</button>
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
    <a href="{{ url_for('restaurant.add') }}"><button class="layui-btn layui-btn-radius layui-bg-green">Add</button></a>

    <script>
        on_delete = function(restaurant_id) {
            layui.use(["layer"], function () {
                let layer = layui.layer;
                layer.confirm("Confirm to delete this item?", function () {
                    window.location="{{url_for('restaurant.delete')}}" + "?id=" + restaurant_id;
                })
            })
        }
    </script>
    {% endblock %}

    </body>
</htm>