<htm>
    <head>
        <meta charset="UTF-8">
        <title>Add Restaurant</title>
        <h1>Add Restaurant</h1>
    </head>
    <body>
    {% extends "_layout.html" %}
    {% block body %}
    <form method="post" action="{{url_for('restaurant.add')}}">
        {{ form.hidden_tag() }}

        <div class="layui-inline">
            <label class="layui-form-label">Name</label>
            <div class="layui-input-block">
                <input class="layui-input" name="name" type="text" >
                {% if form.name.errors %}
                <ul>
                    {% for error in form.name.errors %}
                    <li class="layui-bg-red">{{error}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <br>
        <br>
        <div class="layui-inline">
            <label class="layui-form-label">Address</label>
            <div class="layui-input-block">
                <input class="layui-input" name="address" type="text" >
                {% if form.address.errors %}
                <ul>
                    {% for error in form.address.errors %}
                    <li class="layui-bg-red">{{error}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <br>
        <br>
        <button class="layui-btn layui-btn-normal layui-btn-radius">Add</button>
    </form>
    {% endblock %}
    </body>
</htm>